.dark-mode {
  --text: #ffffff;
    --background: #000000;
    --primary:#5798b2;
    --accent: #e95494;
    --linearPrimaryAccent: linear-gradient(#8fb3ff, #d32872);
    --linearSecondaryAccent: linear-gradient(#d31366, #bb497a);
  }
.light-mode {
    --text: #000000;
    --background: #ffffff;
    --primary: #5798b2;
    --accent: #e95494;
    --linearPrimaryAccent: linear-gradient(#8fb3ff, #ebf1ff);
    --linearSecondaryAccent: linear-gradient(#d31366, #bb497a);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { font-size: 62.5%; }
.d-none { display: none; }
body {
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
  background-color: var(--background);
  text-align: center;
}
main {
  width: 98%;
  height: 98%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
h1 {
  color: var(--accent);
}
button {
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  border-radius: .4rem;
  background: var(--linearSecondaryAccent);
}
.gg-sun, .gg-moon { color: white; }
#playersPick, #botsPick { color: var(--primary); }
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
header > h1 { font-size: 4rem;  }
#toggle {
  color: var(--text);
  background: var(--linearSecondaryAccent);
}
#result {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}
#score {
  font-weight: 700;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.btn-group {  
  max-width: 32rem;
  width: 50%;
  margin: 0 auto;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 76rem) {
  main {
    max-width: 50%;
    font-size: 6rem;  
  }
  #result,
  #score {
    font-size: 3rem;
  }  
  .btn-group {
    max-width: 100%;
    flex-direction: row;
  }
}
